@model IEnumerable<FinalProject.Models.WISATA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
           
                @*<a class="navbar-brand" href="index.html">Business Casual</a>*@
                @Html.ActionLink("Aplicationname",
                            "index", "Home",
                            new { area = "" },
                            new { @class= "navbar-brand"})
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Bersejarah","Index","Bersejarah")</li>
                    <li>@Html.ActionLink("Religi","Index","Religi")</li>                    
                    <li>@Html.ActionLink("Museum","Index","Mount Museum")</li>
                    <li>@Html.ActionLink("Monumen","Index","Monumen")</li>
					<li>@Html.ActionLink("Taman Kota","Index","Taman_Kota")</li>
					<li>@Html.ActionLink("Mall","Index","Mall")</li>
					<li>@Html.ActionLink("Alam","Index","Alam")</li>
                    <li>@Html.ActionLink("Pasar","Index","Pasar")</li>
                    <li>@Html.ActionLink("Kuliner","Index","Kuliner")</li>
                    <li>@Html.ActionLink("Golf","Index","Golf")</li>
                    <li>@Html.ActionLink("Kampung","Index","Kampung")</li>
                    <li>@Html.ActionLink("Souvenir","Index","Souvenir")</li>

                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
</nav>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nama_Wisata)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alamat_Wisata)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telpon_Wisata)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto_Wisata)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deskripsi_Wisata)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude_Wisata)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude_Wisata)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KATEGORI_WISATA.Kategori_Wisata1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nama_Wisata)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alamat_Wisata)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telpon_Wisata)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Foto_Wisata)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deskripsi_Wisata)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude_Wisata)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude_Wisata)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KATEGORI_WISATA.Kategori_Wisata1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Wisata }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Wisata }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Wisata })
        </td>
    </tr>
}

</table>
