@model FinalProject.Models.TRANSPORTASI

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutTour.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TRANSPORTASI</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nama_Transportasi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nama_Transportasi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rute_Asal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rute_Asal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rute_Tujuan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rute_Tujuan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KATEGORI_TRASPORTASI.Kategori_Transportasi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KATEGORI_TRASPORTASI.Kategori_Transportasi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Transportasi }) |
    @Html.ActionLink("Back to List", "Index")
</p>
