@model IEnumerable<FinalProject.Models.TAKSI>


@{
    ViewBag.Title = "Taksi";
    Layout = "~/Views/Shared/_LayoutTour.cshtml";
}
<div class="container" style="background-color:rgb(255, 255, 255);">
    <table class="table" style="color: salmon">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nama_Taksi)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Telpon_Taksi)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Minimum_Price)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Nama_Taksi)
                </td>

                <td>
                    @Html.DisplayFor(model => item.Telpon_Taksi)
                </td>

                <td>
                    @Html.DisplayFor(model => item.Minimum_Price)
                </td>
            </tr>
        }
    </table>
</div>