@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <nav class="navbar" style="margin-top:50px">
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li style="background-color:rgba(255,255,100,0.9);">@Html.ActionLink("Bersejarah", "Index", "Default1", new { idx = 1 })</li>
                <li style="background-color:rgba(255,255,100,0.9);">@Html.ActionLink("Religi", "Index/2", "Default1")</li>
                <li style="background-color:rgba(255,255,100,0.9);">@Html.ActionLink("Museum", "Index", "Mount Museum")</li>
                <li style="background-color:rgba(255,255,100,0.9);">@Html.ActionLink("Monumen", "Index", "Monumen")<li>
                <li style="background-color:rgba(255,255,100,0.9);">@Html.ActionLink("Taman Kota", "Index", "Taman_Kota")</li>
                <li style="background-color:rgba(255,255,100,0.9);">@Html.ActionLink("Mall", "Index", "Mall")</li>
            </ul>
            <ul class="nav navbar-nav">
                <li style="background-color:rgba(255,255,100,0.9);">@Html.ActionLink("Alam", "Index", "Alam")</li>
                <li style="background-color:rgba(255,255,100,0.9);">@Html.ActionLink("Pasar", "Index", "Pasar")</li>
                <li style="background-color:rgba(255,255,100,0.9);">@Html.ActionLink("Kuliner", "Index", "Kuliner")</li>
                <li style="background-color:rgba(255,255,100,0.9);">@Html.ActionLink("Golf", "Index", "Golf")</li>
                <li style="background-color:rgba(255,255,100,0.9);">@Html.ActionLink("Kampung", "Index", "Kampung")</li>
                <li style="background-color:rgba(255,255,100,0.9);">@Html.ActionLink("Souvenir", "Index", "Souvenir")</li>
            </ul>
        </div>
    </nav>

    <!-- /.navbar-collapse -->
   
    <!-- /.container -->
    <!-- /.container -->
    @RenderBody()
    <hr>
    <hr>

