@model FinalProject.Models.WISATA

@{
    ViewBag.Title = "Index";
}

<h2>Details</h2>

<div class="box">
    <h4>WISATA</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nama_Wisata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nama_Wisata)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alamat_Wisata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alamat_Wisata)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telpon_Wisata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telpon_Wisata)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto_Wisata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto_Wisata)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deskripsi_Wisata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deskripsi_Wisata)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude_Wisata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude_Wisata)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude_Wisata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude_Wisata)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.KATEGORI_WISATA.Kategori_Wisata1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KATEGORI_WISATA.Kategori_Wisata1)
        </dd>*@

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Wisata }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
