@model IEnumerable<FinalProject.Models.WISATA>
@{
    ViewBag.Title = "show";
}

<h2>Result</h2>

<div class="container" >
    <div class="box" style="background-color:rgba(25, 255, 55,0.8);">
        <table class="table">
            <tr>
                @Html.ActionLink("Back", "Index")
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nama_Wisata)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Alamat_Wisata)
                </th>
                <th>
                    Keterangan
                </th>
            </tr>

            @foreach (var item in Model)
            {
                
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nama_Wisata)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Alamat_Wisata)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.ID_Wisata })
                    </td>
                </tr>

            }

        </table>
    </div>
</div>
